__pycache__/
*~
.idea/
smplx_models/
models/
data/
results/
training/
test_output/
fitting_results/
fitting_results_prob/
*.zip
*.pt
3D_Future/

outputs/
atiss_ckpt*.ckpt
*.pth
*.pt

atiss_ckpt*
contact_predictions/
data_custom/
